body {
    background-color:white;
}
/* HTML failā ir atribūti kurus talāk šeit izmanotju lai veiktu papildus opcijas ar tekstu,krāsu utt */
.Nos{
    color:black;
    text-align: center ;
    font-size: 30px;
}
.attelanovieotjums{
    text-align: right;
}
.TekstsZils{
    color:blue;
}
.TekstsMelns{
    color:black;
}
.SarkansTeksts{
    color:red;
    text-decoration: solid;
}
div.Sadalījums{ 
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4fr;
}
div.Palabi{ 
    min-height: 50px;
    background-color:lightblue;
    text-align: left;
    border-bottom-style: solid;
    border-color: blue;
    text-indent: 30px;
} 
div.PaKreisi{ 
    min-height: 50px;
    background-color:beige;
    text-align:center;
}
div.PaKreisi1{ 
        min-height: 10px;
        background-color:beige;
        text-align: center;
    } 
div.PaLabi1{ 
    min-height: 50px;
    background-color:lightblue;
    text-align: left;
    border-bottom-style: solid;
    border-color: blue;
    text-indent: 30px;
} 
div.PaKreisi2{ 
    min-height: 50px;
    background-color:beige;
    text-align: center;
} 
div.PaLabi2{ 
    min-height: 50px;
    background-color:lightblue;
    text-align: left;
    border-bottom-style: solid;
    border-color: blue;
    text-indent: 30px;
} 
